body {
    background-color:rgb(255, 192, 169);
    margin: 0;
}

.heading {
    background-color: beige;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}

#rps, .endDiv {
    display: flex;
}

#rps {
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 100px;
}

button {
    background-color: palegreen;
    padding: 10px 25px;
}

.endDiv {
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: center;
}

